# Standard CMake build directory.
/build*

# macOS
.DS_store

# Visual Studio CMake integration directories.
/.vs/
/out/
CMakeSettings.json

# Visual Studio Code
/.vscode/

# clangd
/.cache/
CMakeFiles/
src/CMakeFiles/

# Terminal scripts (keepammo branch workflow)
# inventor200 2025/05/28
build.sh
test.sh
