[Desktop Entry]
Name=Woof!
Exec=woof
Icon=woof
Type=Application
Comment=Continuation of Lee Killough's Doom source port MBF
Categories=Game;ActionGame;
Keywords=first;person;shooter;vanilla;doom;boom;mbf;
