[Desktop Entry]
Name=Woof! Setup
Exec=woof-setup
Icon=woof-setup
Type=Application
Comment=Setup tool for Woof!
Categories=Settings;
Keywords=first;person;shooter;vanilla;doom;boom;mbf;
