; Append this to woof.cfg for Vanilla automap colors.
; Thanks @OpenRift412 <https://github.com/fabiangreffrath/woof/issues/108>.

mapcolor_back               247
mapcolor_grid               104
mapcolor_wall               176
mapcolor_fchg                64
mapcolor_cchg               231
mapcolor_clsd                 0
mapcolor_rkey                 0
mapcolor_bkey                 0
mapcolor_ykey                 0
mapcolor_rdor                 0
mapcolor_bdor                 0
mapcolor_ydor                 0
mapcolor_tele                 0
mapcolor_secr                 0
mapcolor_exit                 0
mapcolor_unsn                99
mapcolor_flat                97
mapcolor_sprt               112
mapcolor_hair               208
mapcolor_sngl               208
mapcolor_ply1               112
mapcolor_ply2                88
mapcolor_ply3                64
mapcolor_ply4               176
mapcolor_frnd               252
