name: Linter

on:
  push:
    branches: [ master ]
    paths-ignore: ['**.md']
  pull_request:
    branches: [ master ]
    paths-ignore: ['**.md']
  workflow_dispatch:

jobs:
  linter:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        name: [Cppcheck, Clang-Tidy]

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install \
            cppcheck \
            ninja-build \
            libopenal-dev \
            libebur128-dev \
            libsndfile1-dev \
            libfluidsynth-dev \
            libxmp-dev

      - name: Build SDL3
        uses: libsdl-org/setup-sdl@main
        with:
          install-linux-dependencies: true
          version: 3-latest

      - uses: actions/checkout@v6

      - name: Configure
        run: >-
          cmake -B build -G Ninja
          -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
          -DCMAKE_FIND_PACKAGE_PREFER_CONFIG=OFF

      - name: Run Cppcheck
        if: ${{ matrix.name == 'Cppcheck' }}
        run: |
          mkdir cppcheck_cache
          cppcheck -j4  --cppcheck-build-dir="cppcheck_cache" \
            --quiet \
            --error-exitcode=1 \
            --check-level=exhaustive \
            --inconclusive \
            --inline-suppr \
            --std=c11 \
            --project="${{ github.workspace }}/build/compile_commands.json" \
            -i"${{ github.workspace }}/third-party" \
            -D__GNUC__

      - name: Run Clang-Tidy
        if: ${{ matrix.name == 'Clang-Tidy' }}
        uses: cpp-linter/cpp-linter-action@v2
        id: cpp-linter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version: 21
          step-summary: true
          files-changed-only: true
          style: ''
          tidy-checks: >-
            -*
            ,clang-analyzer-*
            ,-clang-analyzer-cplusplus*
            ,-clang-analyzer-security*
            ,-clang-analyzer-valist*
          database: 'build'
          ignore: 'third-party|toolsrc|src/i_pcsound.c'
